.search-bar {
  border-radius: 3rem;
  min-height: 3rem;
  background: 1rem 0.8rem url('../../../../../public/icons/search.svg') no-repeat;
  padding: 0.7rem 0 0.7rem 5rem;
  outline: none;
  font-size: 2.4rem;
  font-family: Roboto, sans-serif;
  border: 0.3rem solid rgb(21, 218, 255);
  color: #f8f8f8;
  min-width: 50%;
}
::placeholder {
  color: #f8f8f8;
  opacity: 1;
}
.search-bar:hover,
.search-bar:focus {
  box-shadow: 0 0 14px 7px rgba(21, 218, 255, 0.7);
}