@import 'src/styles/main';
.main {
  background-color: $black;
  background-image: linear-gradient(rgba(9, 9, 9, 0.5), rgba(9, 9, 9, 0.5)),
    url('../public/images/space.jpg');
  min-height: 100vh;
}
