.container {
  perspective: 100rem;
  background-color: transparent;
  width: 30rem;
  height: 37.2rem;
  cursor: pointer;
}
.container:hover .card {
  transform: rotateY(180deg);
  box-shadow: 0 0 15px 10px rgba(109, 114, 195, 0.9);
}

.card__side_front,
.card__side_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #E5D4ED;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__side_back {
  transform: rotateY(180deg);
}

.card {
  background: #fff8f8;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 2.5rem;
}

.card__title {
  max-width: calc(100% - 2rem);
  text-align: center;
  padding: 0 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #040F16;
}
.card__image {
  width: 100%;
  border-radius: 0 0 2.5rem 2.5rem;
}