.card {
  border: 1px solid black;
  border-radius: 5rem;
  background: #fff8f8;
}
.card__title {
  text-align: center;
}
.card__image {
  width: 100%;
}
.list {
  padding-left: 2.5rem;
  list-style: none;
}
.list__item:not(:last-child) {
  margin-bottom: 0.3rem;
}